body {
  background-image: linear-gradient(to right, rgb(246, 121, 112), rgb(231, 169, 199));
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Navbar */
.navbar1 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  margin: 1px;
  background-color: lightpink;
  border-radius: 10px;
}

.navbar1 ul li {
  display: inline-block;
  margin: 5px;
}

.navbar1 ul li a {
  color: palevioletred;
  font-size: 16px;
  text-decoration: none;
  display: block;
  font-family: "Twinkle Star", cursive;
}

.navbar1 ul li a:hover {
  font-weight: bold;
  font-size: 20px;
  color: black;
}

button {
  display: inline-block;
  padding: 10px 20px;
  background-color:white;
  text-align: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-items: center;
  font-family: "Twinkle Star", cursive;
  color: #ff99cc;
}

.dark-mode {
  background-image: linear-gradient(to right, rgb(99, 1, 168), rgb(2, 103, 105));
  color: white;
}
.dark-mode ul li a:hover{
  color: white;
}
.dark-mode .navbar1 ul {
  background-color: black;
}

.dark-mode .navbar1 ul li a {
  color:white;
}

.dark-mode button {
  background-color: darkslategrey;
  color: white;
}

/* Flexbox */
.title-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
  font-family: "Princetown W01";
  color: white;
  align-items: center;
  align-content: center;
}

.article-container {
  display: flex;
  border: none;
  border-radius: 50px;
  margin-top: 80px;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.img-container img {
  position: absolute;
}
.img-container .img-1{
  transform: rotate(10deg);
}
.img-container .img-2, .img-container img-3{
  transform: translateY(50px) rotate(5deg);
}

.article-container button{
  position: relative;
  
}

.main-img{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
img {
  height: 300px;
  border-radius: 80px;
}
.articleContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
  gap: 20px;
  color: white;
  align-items: center
}

#subTitle {
  text-align: center;
  border-radius: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight:lighter;
  
}

#subTitle:hover {
  color: #f3ec2b;
}

#subForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

input {
  display: block;
  margin: 10px;
}

.petition-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  padding-bottom: 50px;
  padding-right: 100px;
}
.petition-para {
  width: 66%;
  margin-right: 100px;
  margin-left: 30px;
  padding-left: 87px;
}

.signature {
  width: 45%;
  padding-right: 10px;
}

#counter {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
}
.sign-now-button {
  text-align: center;
}

/* General style set for flex-items */
.flex-item {
  background: white;
  color: black;
  font-weight: bold;
  text-align: center;
}

.error {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background: pink;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80px;
  background-color: lightpink;
  padding: .4rem .8rem;
  transition: all .5s ease;
}
.dark-mode .sidebar {
  background-color: black;
}

.sidebar.active {
  width: 250px;
}

.sidebar #btn {
  position: absolute;
  color: white;
  top: .4rem;
  left: 50%;
  font-size: 1.2rem;
  line-height: 50px;
  transform: translate(-50%);
  cursor: pointer;
}

.sidebar .active #btn {
  left: 90%;
}

.sidebar .top .logo {
  color: white;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  pointer-events: none;
  opacity: 0;
}

.sidebar .active .top .logo {
  opacity: 1;
}

.top.logo i {
  font-size: 2rem;
  margin-right: 5px;
}

.user {
  display: flex;
  align-items: center;
  margin-left: 1rem 0;
}

.user p {
  color: white;
  opacity: 1;
  margin-left: 1rem;
}

.sidebar p {
  opacity: 0;
}

.sidebar ul li {
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 90%;
  margin: 0.8rem auto;
  line-height: 50px;
}

.sidebar ul li a {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0.8rem;
}

.sidebar ul li a:hover {
  background-color: white;
  color: black;
}
.sidebar ul li a i{
  min-width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;
}
.sidebar .nav-item{
  opacity: 0;
}

.sidebar.active.nav-item{
  opacity: 1;
}

.sidebar ul li .tooltip{
  position: absolute;
  left: 125px;
  top: 50px;
  transform: translate(-50%,-50%);
  box-shadow: 0 0.5rem 0.8rem rgba(0,0,0,0.2); 
  border-radius: .6rem;
  padding: .4rem 1.2rem;
  line-height: 1.8rem;
  z-index: 20;
  opacity: 0;
}
.sidebar ul li:hover .tooltip{
  opacity: 1;
}
.sidebar .active ul li .tooltip{
  display: none;
}
.error {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  color: red; /* Added color property */
}
